sudo: required
dist: trusty

language: c
compiler:
    - gcc
    - clang

before_install:
    - sudo apt-get -qq update
    - sudo apt-get -y install check python-dev python-numpy python-scipy cython python3-dev python3-numpy python3-scipy cython3 valgrind

before_script:
    - mkdir build
    - cd build
    - cmake ..

script: make && make test

after_failure:
    - find tests/test* -exec {} \;
